.about {
  @include adaptive-value('padding-top', 100, 70, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__wrapper {
    position: relative;

    &::after {
      @include elDef();
      width: 240px;
      height: 250px;
      right: 75px;
      top: -175px;

      @include backgroundImage(
        url('../images/content/about-decor.png'),
        contain
      );

      @include breakpointsMaxW($bp-container) {
        right: calc(10px + (75 - 10) * ((100vw - 991px) / (1270 - 991)));
      }

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }
  }

  &__title {
    @include adaptive-value('margin-bottom', 30, 15, 1);
  }

  &__text {
    max-width: 720px;
    font-size: 17px;

    @include adaptive-value('margin-bottom', 80, 40, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    @include adaptive-value('gap', 60, 30, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: minmax(auto, 390px);
    }
  }

  &__item {
    padding-left: 90px;
    position: relative;
    min-height: 70px;
    display: flex;
    align-items: center;

    @include breakpointsMaxW($bp-768) {
      padding-top: 90px;
      padding-left: 0;
      text-align: center;
    }

    &:nth-child(1) {
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/1.svg'),
            contain
          );
        }
      }
    }
    &:nth-child(2) {
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/2.svg'),
            contain
          );
        }
      }
    }
    &:nth-child(3) {
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/3.svg'),
            contain
          );
        }
      }
    }
    &:nth-child(4) {
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/4.svg'),
            contain
          );
        }
      }
    }
    &:nth-child(5) {
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/5.svg'),
            contain
          );
        }
      }
    }
    &:nth-child(6) {
      width: calc(100% - 10px);
      .about__icon {
        &::after {
          @include maskImage(
            url('../images/content/advantages/6.svg'),
            contain
          );
        }
      }
    }
  }

  &__icon {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include backgroundImage(url('../images/icons/ellipse.svg'), contain);

    @include breakpointsMaxW($bp-768) {
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    &::after {
      @include elDef();
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-accent);
    }
  }
}
