.results {
  @include adaptive-value('padding-top', 70, 50, 1);

  &__top {
    @include adaptive-value('margin-bottom', 30, 20, 1);
  }

  &__title {
    font-weight: 300;
    text-transform: none;
    max-width: 600px;
    line-height: 1.25;
    @include adaptive-value('font-size', 35, 24, 1);
    @include adaptive-value('margin-bottom', 60, 30, 1);
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
  }

  &__btn {
    display: block;
    color: var(--color-accent);
    background-color: var(--color-blue-light);
    line-height: 1;
    border-radius: 10px;
    font-size: 15px;
    line-height: 1.2;
    @include adaptive-value('padding', 17, 13, 1);

    &:hover,
    &--active {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
}

.disputes-box {
  @include adaptive-value('padding-top', 30, 20, 1);
  display: none;

  &.active {
    display: block;
    animation: opacity-visibility 500ms ease;
  }

  &__title {
    @include adaptive-value('margin-bottom', 50, 25, 1);
    @include adaptive-value('font-size', 30, 20, 1);
    line-height: 1.3;
    font-weight: 700;
    text-transform: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  &__item {
    padding: 30px 40px;
    background-color: var(--color-bg);
    border-radius: 10px;
    width: 100%;
    @include adaptive-value('padding-top', 30, 15, 1);
    @include adaptive-value('padding-bottom', 30, 15, 1);
    @include adaptive-value('padding-left', 40, 20, 1);
    @include adaptive-value('padding-right', 40, 20, 1);
  }

  &__name {
    display: block;
    @include adaptive-value('margin-bottom', 25, 15, 1);

    span {
      font-weight: 700;
    }
  }

  &__result {
    p {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
    span {
      color: var(--color-accent);
      font-weight: 700;
    }
  }
}
