<section class="about" id="about">
  <div class="container">
    <div class="about__wrapper">
      <h2 class="about__title section-title">Порядка 10 лет</h2>
      <div class="about__text">
        <p>
          самостоятельно и совместно с партнерами оказываю юридические услуги
          организациям и физическим лицам по широкому кругу правовых вопросов, в
          частности:
        </p>
      </div>

      <ul class="about__list">
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>ведение дел в арбитражных судах и судах общей юрисдикции</p>
          </div>
        </li>
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>
              представление интересов в государственных и муниципальных органах,
              в том числе в налоговых органах
            </p>
          </div>
        </li>
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>
              юридическое сопровождение бизнеса, строительных и инвестиционных
              проектов
            </p>
          </div>
        </li>
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>правовой анализ территории, подлежащей застройке</p>
          </div>
        </li>
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>
              due diligence в отношении объектов недвижимости или организации
              (бизнеса)
            </p>
          </div>
        </li>
        <li class="about__item">
          <div class="about__icon"></div>
          <div class="about__descr">
            <p>подготовка юридических заключений</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
