<section class="descr-service">
  <div class="container">
    <div class="descr-service__wrapper">
      <ul class="descr-service__list">
        <li class="descr-service__item">
          <h2 class="descr-service__title section-title">Оспаривание сделок</h2>

          <div class="descr-service__preview">
            <img
              src="images/content/bankruptcy/3.jpg"
              alt="Защита от субсидиарной
            ответственности"
            />
          </div>
        </li>
        <li class="descr-service__item">
          <div class="descr-service__text">
            <p>
              Подлежат оспариванию не только сделки по выводу активов и
              необоснованному возложению на должника обязательств,
              <u>
                но и сделка по расчету с кредиторами, совершенные за полгода до
                подачи
              </u>
              или после подачи заявления о признании должника банкротом.
            </p>
            <p>
              Таким образом с кредиторов в конкурсную массу должника может быть
              взыскана полученная ими оплата за надлежаще исполненное ими
              обязательство. Для этого конкурсному управляющему или конкурсным
              кредиторам нужно доказать, что, совершая такую сделку кредитор
              знал о неплатежеспособности должника. Указанное может быть
              установлено из неочевидных обстоятельств, как-то, в том числе:
              просрочка должником выполнения работ, оплата по его требованию
              напрямую привлеченным им субподрядчикам, наличие задолженности по
              оплате электроэнергии и т.п.
            </p>
            <p>
              Вместе с тем, при надлежащей защите в предъявленных требованиях по
              оспариванию <u>сделки с предпочтением</u> может быть отказано.
            </p>
            <p>
              Также аффилированность должника и его кредитора может повлечь
              оспаривание сделки между ними, истребование у последнего имущества
              должника, привлечение его к субсидиарной ответственности,
              возложение на него налоговых обязательств должника, отказ во
              включении в реестр требований кредиторов должника.
            </p>
          </div>
        </li>
      </ul>
      <ul class="descr-service__list descr-service__list--mob-reverse">
        <li class="descr-service__item">
          <div class="descr-service__text">
            <p>
              При этом аффилированность может быть установлена и фактически.
              Т.е. путем выявления взаимоотношений, отличающихся от общепринятых
              в обороте. Ими могут рассматриваться заключение экономически
              нецелесообразных сделок, сделок, отклоняющихся от среднерыночных
              условий, сделок без обеспечения, сделок с отсроченным и не
              истребуемым исполнением, представление интересов одними и теми же
              лицами и т.п.
            </p>
            <p>
              Игнорирование любого из данных обстоятельств и отсутствие
              надлежащей защиты могут привести к утрате полученного.
            </p>
            <p>
              Также все чаще суды стали применять при оспаривании сделок ст. 10
              ГК РФ – вменение злоупотребление правом при совершении сделок.
              Т.е. формально легальная сделка может ущемлять права иных лиц и
              свидетельствовать об обходе закона, что должно пресекаться судом.
              Однако, и в данном случае есть противодействие.
            </p>
          </div>
        </li>
        <li class="descr-service__item">
          <div class="descr-service__preview">
            <img
              src="images/content/bankruptcy/4.jpg"
              alt="Защита от субсидиарной
            ответственности"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
