<section class="descr-publications">
  <div class="container container--p0">
    <div class="descr-publications__top">
      <h1 class="descr-publications__title main-title">Банкротство</h1>

      <button class="descr-publications__btn btn btn-submit" type="button">
        Отправить заявку
      </button>
    </div>

    <div
      class="descr-publications__preview"
      style="
        background-image: url('images/content/descr-publications/bankrutcy.jpg');
      "
    ></div>

    <div class="descr-publications__content">
      <div class="descr-publications__box">
        <span class="descr-publications__name">
          Субсидиарная ответственность
        </span>
        <ul class="descr-publications__list">
          <li class="descr-publications__item">
            Субсидиарная ответственность за неуплату налогов
          </li>
          <li class="descr-publications__item">
            Как привлечь к субсидиарной ответственности
          </li>
          <li class="descr-publications__item">
            Как избежать субсидиарной ответственности
          </li>
          <li class="descr-publications__item">
            Субсидиарная ответственность за исключение юридического лица из
            ЕГРЮЛ
          </li>
          <li class="descr-publications__item">
            Субсидиарная ответственность при прекращении дела о банкротстве
          </li>
          <li class="descr-publications__item">
            Признаки банкротства юридического лица
          </li>
          <li class="descr-publications__item">
            Взыскание убытков с директора
          </li>
        </ul>
      </div>
      <div class="descr-publications__box">
        <span class="descr-publications__name">Оспаривание сделок</span>
        <ul class="descr-publications__list">
          <li class="descr-publications__item">
            Оспаривание сделок при банкротстве
          </li>
          <li class="descr-publications__item">
            Защита сделок с предпочтением от оспаривания
          </li>
          <li class="descr-publications__item">
            Как вывести активы должника или рассчитаться с отдельными
            кредиторами
          </li>
          <li class="descr-publications__item">
            Неэффективные схемы по выводу активов должника в преддверии
            банкротства
          </li>
        </ul>
      </div>
      <div class="descr-publications__box">
        <span class="descr-publications__name">Иное</span>
      </div>
    </div>
  </div>
</section>
