<section class="descr-service">
  <div class="container">
    <div class="descr-service__wrapper">
      <ul class="descr-service__list">
        <li class="descr-service__item">
          <h2 class="descr-service__title section-title">
            Защита от субсидиарной ответственности
          </h2>

          <div class="descr-service__preview">
            <img
              src="images/content/bankruptcy/1.jpg"
              alt="Защита от субсидиарной
            ответственности"
            />
          </div>
        </li>
        <li class="descr-service__item">
          <div class="descr-service__text">
            <p>
              С июля 2017 года расширен
              <u>перечень лиц, привлекаемых к субсидиарной ответственности</u>.
              Теперь ими рассматриваются не только руководители должника, но и
              собственники бизнеса, выгодоприобретатели сделок по выводу
              активов, возможные «пособники» по выводу активов (гл. бухгалтера,
              финансовые директора, представители).
            </p>

            <p>
              <u>Оспаривание сделок</u> и (или) их квалификация как экономически
              нецелесообразных, искажение первичной, корпоративной документации,
              бухгалтерской отчетности, не принятие мер по раскрытию финансового
              состояния и (или) мер по его восстановлению могут привести к
              привлечению к субсидиарной ответственности. Последняя в рамках
              дела о банкротстве физического лица не погашается.
            </p>

            <p>
              Указанные основания являются следствием
              <u> непринятия мер по подготовке к банкротству заранее </u>,
              некорретно организованного осуществления сделок по выводу активов
              и (или) распределения выручки и расходов в группе лиц,
              игнорирования споров по оспариванию сделок.
            </p>

            <p>
              Утверждение «своего» арбитражного управляющего не исключает
              <u>оспаривание сделок должника</u>. Что является основанием и для
              привлечения контролирующих должника лиц к субсидиарной
              ответственности. Смена руководителя и учредителя на «номинала»,
              прекращение деятельности без инициирования ликвидации и (или)
              банкротства тоже не являются спасением.
              <u>
                ФНС России также активнее стала инициировать споры по
                привлечению к субсидиарной ответственности.
              </u>
            </p>
          </div>
        </li>
      </ul>
      <ul class="descr-service__list descr-service__list--mob-reverse">
        <li class="descr-service__item">
          <div class="descr-service__text">
            <p>
              Включение в реестр требований кредиторов фиктивной задолженности
              может обусловить привлечение к субсидиарной ответственности за
              неподачу заявления о банкротстве. Так как может рассматриваться
              как индикатор формирования неплатежеспособности.
            </p>
            <p>
              В связи с этим важно подготовиться к банкротству, а также
              своевременно отслеживать споры в рамках дела о банкротстве,
              осуществить сбор доказательственной базы, максимально четко и
              эффективно обеспечить защиту.
              <u>Подготовка к банкротству</u> позволяет корректно определить
              условия сделок, сохранить активы бизнеса и личные, снизить риски
              привлечения к субсидиарной и уголовной ответственности.
            </p>
            <p>
              <u>Исключение юридического лица из ЕГРЮЛ</u> является основанием для
              инициирования привлечения к субсидиарной ответственности его
              руководителя, а в ряде случаев – собственника бизнеса и
              выгодоприобретателя сделок по выводу активов.
            </p>
          </div>
        </li>
        <li class="descr-service__item">
          <div class="descr-service__preview">
            <img
              src="images/content/bankruptcy/2.jpg"
              alt="Защита от субсидиарной
            ответственности"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
