<section class="experience">
  <div class="container">
    <div class="experience__wrapper">
      <div class="experience__preview">
        <img src="images/content/experience-bg.jpg" alt="Это я" />
      </div>
      <div class="experience__right">
        <h1 class="experience__title section-title">
          <span>Опыт работы юристом</span>
          с октября 2011 года
        </h1>
        <div class="experience__text">
          <p>
            Образование высшее: диплом о присвоении квалификации юриста с июня
            2014 года. Наличие указанного диплома позволяет вести дела в
            арбитражных судах и судах общей юрисдикции (п. 4 ст. 61 АПК РФ, п. 5
            ст. 53 ГПК РФ, п. 1 ст. 55 КАС РФ). Статус адвоката необходим для
            ведения уголовных дел, которыми я не занимаюсь.
          </p>

          <p>
            С 2019 года деятельность в области права осуществляется в статусе
            индивидуального предпринимателя (ОГРНИП 319237500333670).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
