<header class="header">
  <div class="overlay"></div>
  <div class="mobile-menu">
    <a class="mobile-menu__logo logo" href="#">
      <img src="images/logo.png" alt="Логотип" />
    </a>

    <button class="mobile-menu__close" type="button" aria-label="Закрыть меню">
      <svg width="19" height="19">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__body">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Главная</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Обо мне</a>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Услуги
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Банкротство</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Защита активов</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Споры о правах на недвижимость и оборот недвижимости
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Подрядные споры</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Градостроительные отношения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Земельные отношения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Налоговые споры и вопросы налогообложения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Сопровождение бизнеса, строительных и инвестиционных проектов
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Прочие вопросы</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Публикации
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Банкротство</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Защита активов</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Споры о правах на недвижимость и оборот недвижимости
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Подрядные споры</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Градостроительные отношения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Земельные отношения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Налоговые споры и вопросы налогообложения
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Сопровождение бизнеса, строительных и инвестиционных проектов
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Прочие вопросы</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Контакты</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo logo" href="index.html">
        <img src="images/logo.png" alt="Логотип" />
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Обо мне</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">Услуги</a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Банкротство</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Защита активов </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Споры о правах на недвижимость и оборот недвижимости</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Подрядные споры</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">
                    Градостроительные отношения</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Земельные отношения</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Налоговые споры и вопросы налогообложения</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Сопровождение бизнеса, строительных и инвестиционных
                    проектов</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Прочие вопросы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">Публикации</a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Банкротство</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Защита активов </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Споры о правах на недвижимость и оборот недвижимости</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Подрядные споры</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">
                    Градостроительные отношения</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Земельные отношения</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Налоговые споры и вопросы налогообложения</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Сопровождение бизнеса, строительных и инвестиционных
                    проектов</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Прочие вопросы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__tools">
        <button class="header__btn btn btn--light btn-call" type="button">
          Заказать звонок
        </button>
        <a class="header__phone" href="tel:+79773365698">
          <span class="header__phone-icon"></span>
          <span class="header__phone-text">
            <span class="color-accent">8 (977)</span> 336 56 98
          </span>
        </a>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </div>
  </div>
</header>
