<section class="publications">
  <div class="container container--p0">
    <div class="publications__top">
      <h1 class="publications__title main-title">Публикации</h1>
      <div class="publications__text">
        <p>
          В указанных слева подразделах Вы можете найти интересующую Вас тему.
        </p>
      </div>
    </div>

    <div
      class="publications__preview"
      style="
        background-image: url('images/content/publications/publications-bg.jpg');
      "
    ></div>

    <div class="publications__text">
      <p>
        Периодически актуальные вопросы разбираются мною и публикуются в
        интернет-изданиях и печатных СМИ, в сокращенном варианте – на сайте.
      </p>
    </div>
    <div class="publications__text">
      <p>
        Если Ваш вопрос не освещен и актуален, то Вы можете получить подробную
        консультацию на Ваш e-mail.
      </p>
      <p>
        Для этого предлагаю позвонить, оставить запрос, а также подписаться на
        рассылку.
      </p>
    </div>
  </div>
</section>
