<section class="request">
  <div class="container">
    <div class="request__top">
      <h2 class="request__title section-title">
        Отправьте заявку на банкротство
      </h2>

      <div class="request__text">
        <p>Введите Ваши данные и мы свяжемся с Вами в ближайшее время</p>
      </div>
    </div>

    <form class="request__form form-submit">
      <div class="form-submit__group">
        <label class="form-submit__label" for="name">Имя</label>
        <input
          class="form-submit__input"
          type="text"
          id="name"
          placeholder="Имя"
          required
        />
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label" for="tel">Контактный телефон</label>
        <input
          class="form-submit__input"
          type="tel"
          id="tel"
          placeholder="+7 (___) ___ - __ - __"
          required
        />
      </div>

      <div class="form-submit__group">
        <label class="form-submit__label" for="tel">Ваш комментарий</label>
        <textarea
          class="form-submit__input form-submit__input--textarea"
          name="message"
          id="message"
          placeholder="Сообщение"
        ></textarea>
      </div>

      <div class="form-submit__group">
        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" required />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Соглашаюсь с <a href="#"> обработкой персональных данных</a>
          </span>
        </label>
      </div>

      <button class="form-submit__btn btn" type="button">
        Отправить заявку
      </button>
    </form>
  </div>
</section>
