<div class="grid__side sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">Банкротство</a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">Защита активов</a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">
        Споры о правах на недвижимость и оборот недвижимости
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">Подрядные споры</a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">
        Градостроительные отношения
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">Земельные отношения</a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">
        Налоговые споры и вопросы налогообложения
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">
        Сопровождение бизнеса, строительных и инвестиционных
        проектов
      </a>
    </li>
    <li class="sidebar__item">
      <a class="sidebar__link" href="#">Прочие вопросы</a>
    </li>
  </ul>
</div>
