<section class="specialization specialization--row">
  <div class="container">
    <div class="specialization__wrapper">
      <div class="specialization__left">
        <h2 class="specialization__title section-title">
          <span>Специализируюсь</span>
          на обслуживании бизнеса
        </h2>
      </div>
      <div class="specialization__right">
        <div class="specialization__text">
          <p>
            при разрешении сложных и нетиповых ситуаций, преимущественно в
            судебных спорах.
          </p>
          <p>
            Я и мои партнеры всегда ориентированы на результат и предоставляем
            заказчику объективное описание ситуации, аналитику и варианты
            решения задачи.
          </p>

          <p>
            Нестандартный и индивидуальный подход, опыт и деловые контакты со
            специалистами в соответствующих сферах (экспертами, оценщиками,
            арбитражными управляющими и т.д.) позволяют достигать поставленные
            цели. Практика в разных юридических направлениях позволяет решать
            задачи комплексно (учитывая разные риски) и конфиденциально.
          </p>

          <p>
            В разделе <span>«Обо мне»</span> Вы можете ознакомиться с
            результатами успешной практики.
          </p>

          <p>
            Связаться со мной Вы можете по телефону или посредством электронной
            почты – см. раздел «Контакты». Предварительный экспресс-анализ по
            Вашему вопросу провожу бесплатно. При обращении прошу указать
            краткую суть вопроса, иную необходимую информацию (номер судебного
            дела, кадастровый номер объекта недвижимости и т.д.).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
