<section class="spheres spheres--urban">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">
          Градостроительные отношения
        </h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Взаимодействие с контролирующими органами в строительной и смежных
            сферах. Защита при проведении проверок и в случае предъявления
            претензий контролирующими органами.
          </li>
          <li class="spheres__item">
            Анализ существующего градостроительного регламента земельного
            участка и вариантов его пересмотра.
          </li>
          <li class="spheres__item">
            Изменение градостроительного регламента участков (правил
            землепользования и застройки Москвы и муниципалитетов Московской
            области).
          </li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/urban.jpg')"
      >
        <span class="spheres__number">05</span>
      </div>
    </div>
  </div>
</section>
