<section class="spheres spheres--reverse spheres--protection">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">Защита активов</h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Защита активов бизнеса, корпоративных прав
          </li>
          <li class="spheres__item">Защита личных активов</li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/protection.jpg')"
      >
        <span class="spheres__number">02</span>
      </div>
    </div>
  </div>
</section>
