<section class="spheres spheres--controversy">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">
          Споры о правах на недвижимость и оборот недвижимости
        </h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Защита в судебных спорах о правах на недвижимость, об установлении
            границ земельных участков, о сносе самовольной постройки, об
            оспаривании действий (бездействия) публичных органов.
          </li>
          <li class="spheres__item">
            due diligence в отношении объектов недвижимости.
          </li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/controversy.jpg')"
      >
        <span class="spheres__number">03</span>
      </div>
    </div>
  </div>
</section>
