<section class="spheres spheres--tax">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">
          Налоговые споры и вопросы налогообложения
        </h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Анализ рисков и наличия налоговых правонарушений, предоставление
            рекомендаций по их устранению.
          </li>
          <li class="spheres__item">
            Комплексное сопровождение налоговых проверок, включая подготовку
            позиции и рекомендаций по ее усилению, правовую помощь в рамках
            допросов свидетелей.
          </li>
          <li class="spheres__item">
            Сопровождение налоговых споров, включая обжалование решений
            налоговых органов в досудебном и судебном порядке.
          </li>
          <li class="spheres__item">
            Подготовка структуры собственности активов для снижения налоговых
            затрат для их приобретения или продажи.
          </li>
          <li class="spheres__item">
            Анализ способов оптимизации налогообложения и их рекомендации.
          </li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/tax.jpg')"
      >
        <span class="spheres__number">07</span>
      </div>
    </div>
  </div>
</section>
