<section class="spheres spheres--reverse spheres--contract">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">Подрядные споры</h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Представление интересов подрядчиков и заказчиков по спорам об объёме
            и качестве работ, применении финансовых санкций по договорам подряда
            и т.д.
          </li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/contract.jpg')"
      >
        <span class="spheres__number">04</span>
      </div>
    </div>
  </div>
</section>
