<section class="spheres spheres--reverse spheres--land">
  <div class="container">
    <div class="spheres__wrapper">
      <div class="spheres__left">
        <h2 class="spheres__title section-title">Земельные отношения</h2>

        <ul class="spheres__list">
          <li class="spheres__item">
            Изменение разрешённого использования, установление условно
            разрешенных и вспомогательных видов.
          </li>
          <li class="spheres__item">
            Снижение кадастровой стоимости участков и объектов капитального
            строительства.
          </li>
          <li class="spheres__item">
            Оптимизация земельного налога, налога на имущество, исчисляемого по
            кадастровой стоимости, арендной платы за землю. Исключение объектов
            из перечня объектов, облагаемых налогом на имущество по кадастровой
            стоимости в Москве и Московской области, или их включение в этот
            перечень.
          </li>
          <li class="spheres__item">
            Защита в ходе проверок, и в случае претензий контролирующих органов
            в связи с нецелевым использованием участков, самовольным
            строительством и т.д.
          </li>
          <li class="spheres__item">
            Предоставление участков из государственной собственности.
          </li>
        </ul>

        <div class="spheres__actions">
          <button class="spheres__actions btn btn-submit" type="button">
            Оставить заявку
          </button>
          <a class="spheres__button btn btn--transparent" href="#">Подробнее</a>
        </div>
      </div>
      <div
        class="spheres__preview"
        style="background-image: url('images/content/spheres/land.jpg')"
      > <span class="spheres__number">06</span></div>
    </div>
  </div>
</section>
